# Local development

# Application name
APP_NAME="template"
APP_SECRET="supersecret"

# ? See: https://github.com/teyfix/traefik
# Traefik related configurations
# Prefix for each label in the compose files
TRAEFIK_PREFIX="$APP_NAME"
# Base domain for Traefik routers
TRAEFIK_DOMAIN="$APP_NAME.127-0-0-1.sslip.io"
# Traefik certificate resolver
TRAEFIK_CERT_RESOLVER="stepca"
# Traefik entry point for TCP traffic
TRAEFIK_TCP_ENTRY_POINT="shared"
# Traefik entry point for HTTP traffic
TRAEFIK_HTTPS_ENTRY_POINT="websecure"

# From now on, these variables are the only ones
# required to serve this Next.js application.
# Most of the above are meant for local development
# using Docker Compose.

# Runtime
PORT="3000"
NODE_ENV="development"

# Neon Database
DATABASE_URL="postgresql://..."
DATABASE_SCHEMA="$APP_NAME"

# Better Auth
BETTER_AUTH_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" # >= 32 characters
BETTER_AUTH_TRUSTED_ORIGINS="http://localhost:3000; http://127.0.0.1:3000"
BETTER_AUTH_ADMIN_USER_IDS=""
BETTER_AUTH_ANON_EMAIL_DOMAIN=""

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# ImageKit endpoint (https://ik.imagekit.io/...)
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT=""
